---
import Clear from "@/components/bits/books-page/clear.astro";

interface Props {
  options: { value: string; text: string }[];
  current: string;
  name: string;
  params: URLSearchParams;
}

const { options, current, name, params } = Astro.props;
---

<div class="relative w-full max-w-[10.5rem]">
  <select
    class="p-3 w-full text-base text-zinc-700 bg-zinc-100 rounded outline-none border-none appearance-none"
    {name}
  >
    {
      options.map(({ text, value }) => (
        <option
          {value}
          selected={current === value}
          class="appearance-none text-base text-zinc-700 bg-zinc-100 border-none outline-none"
        >
          {text}
        </option>
      ))
    }
  </select>
  {current.length > 0 && <Clear {params} {name} />}
</div>
