---
import type { Book } from "@prisma/client";

interface Props {
  book: Book;
}

const { book } = Astro.props;
---

<div class="flex gap-2.5 group">
  <a href={`/books/${book.slug}`} class="min-w-max">
    <img
      src={book.coverUrl}
      alt={book.title}
      title={book.title}
      class="max-h-[150px] h-full rounded shadow-md"
    />
  </a>
  <div class="flex flex-col gap-2.5">
    <div>
      <a
        href={`/books/${book.slug}`}
        class="text-lg sm:text-xl font-medium gap-0.5 hover:underline underline-offset-4"
      >
        {book.title}
      </a>
      <p class="text-xs sm:text-sm text-zinc-500">{book.author}</p>
    </div>
    <p class="text-xs sm:text-sm text-zinc-700">{book.overview}</p>
  </div>
</div>
