---
import Divider from "@/components/bits/books-page/divider.astro";
import BooksViews from "@/components/bytes/books-page/books-views.astro";
import Form from "@/components/bytes/books-page/form.astro";
import Pagination from "@/components/bytes/books-page/pagination.astro";
import Main from "@/layouts/main.astro";
import getBooksPagination from "@/utils/books-page/get-books-pagination";
import prisma from "prisma/client";
export const prerender = false;

const params = Astro.url.searchParams;
const search = params.get("search") || "";
const tag = params.get("tag") || "";
const sort = params.get("sort") || "";
const pageStr = params.get("page") || "";
const layout = params.get("layout") || "";

const tags = await prisma.tag.findMany();
const where = {
  title: { contains: search || undefined },
  tag: { slug: tag || undefined },
};
const orderBy = { title: (sort as "asc" | "desc") || "asc" };
const { page, pages, skip, take } = await getBooksPagination(where, pageStr);
const books = await prisma.book.findMany({ where, orderBy, skip, take });
---

<Main
  title="Explore Books"
  description="Discover a world of literary treasures at Quillz. Browse classics to bestsellers, finding the perfect book for your passions."
>
  <section class="flex flex-col gap-3">
    <Form {tags} {tag} {search} {sort} {layout} {params} />
    <Divider />
    <BooksViews {books} {layout} />
    <Pagination {pages} {params} {page} />
  </section>
</Main>
